#jouer
{
	text-align: center;
	font-size: 50px;
}

#choixjoueur
{
	text-align: center;
	font-size: 50px;
}

body
{
	background-image: url("imgfond2.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

#jeu
{
	padding-top: 40%;
}


#pierre
{
	background-image: url(boutonpierre.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	color: transparent;
}

#papier
{
	background-image: url(boutonpapier.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	color: transparent;
}

#ciseaux
{
	background-image: url(boutonciseau.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100px;
	width: 100px;
	color: transparent;
}

#joueur
{
	
	color: white;
	margin-top: -540px;

}


#affichage1
{
	font-size: 50px;
	color: white;
	margin-top: -600px;
}